:root {
  --ap-shell-navbar--height: 3rem;
}

.ap-shell-navbar {
  height: var(--ap-shell-navbar--height);

  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;

  background: var(--ap-main-background);

  .ap-shell-navbar--left {
    flex-grow: 1;
  }
  .ap-shell-navbar--right {
    flex-grow: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .title {
    font-weight: bold;
    color: var(--ap-main-color);
  }
  .action {
    border: 0;
    background: transparent;
    width: 2rem;
    height: 2rem;

    font-size: 1rem;
    color: var(--ap-main-color);

    &:focus {
      outline: none;
      border-radius: 0.25rem;
      border: 1px dashed var(--ap-main-color);
    }
  }
}