.ap-react-auth {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(2,0,36);
  background: linear-gradient(#333333, #111111);

  .auth-box {
    width: 25rem;

    .auth-box-toolbar {
      display: flex;
      align-items: center;
      justify-content: center;
      background: grey;
      height: 3rem;
      width: 100%;
    }

    .auth-box-content {
      background: white;
      height: 35rem;
      width: 100%;

      .carousel {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-control {
    height: 2rem;

    +.form-control,
    +.form-link {
      margin-top: 1rem;
    }

    &.btn,
    &.input {
      width: 15rem;
    }

    &.input {
      input {
        height: 2rem;
      }
    }
  }
  .form-link+.form-link {
    margin-top: 0.5rem;
  }
}