@import '../../variables.scss';

.alpha-auth.auth {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .auth-box {
    width: 25rem;
    height: 30rem;
    background: $alpha-main-background;

    .form {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .form-title {
        color: $alpha-main-color;
        margin-top: 2rem;
        margin-bottom: 3rem;
      }

      .form-control {
        height: 2rem;

        +.form-control,
        +.form-link {
          margin-top: 1rem;
        }
        +.form-submit {
          margin-top: 1.5rem;
        }

        &.btn,
        &.input,
        &.label {
          width: 15rem;
        }

        &.input {
          .input-control {
            border-color: $alpha-main-inactive;
            .input-show {
              color: $alpha-main-color;
            }
          }
          .input-mask {
            background: $alpha-main-inactive;
            button {
              border: 2px solid $alpha-main-inactive;
              background: none;
            }
          }

          &.active.focus {
            .input-control {
              border-color: $alpha-main-color;
            }
          }
        }
      }
      .form-link+.form-link {
        margin-top: 0.5rem;
      }
      .error {
        font-size: 0.8rem;
        background: #ff9292;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .form-submit {
        height: 2.5rem;
        font-weight: bold;
        color: $alpha-main-background;
        background: $alpha-main-color;
        border: 0;
        &:disabled {
          cursor: not-allowed;
          background: $alpha-main-inactive;
        }
      }
    }
  }
}
