.auth {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .auth-box {
    width: calc(100% - 2rem);
    max-width: 25rem;
    margin: 1rem;

    height: 30rem;
    background: var(--ap-main-background);

    .ap-auth__form {
      width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .form-title {
        color: var(--ap-main-color);
        margin-top: 2rem;
        margin-bottom: 3rem;
      }

      .form-control {
        width: 15rem;

        &.form-link {
          text-align: center;
        }

        +.form-control,
        +.form-link {
          margin-top: 1rem;
        }
        +.form-submit {
          margin-top: 1.5rem;
        }
      }

      .error {
        font-size: 0.8rem;
        background: #ff9292;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 65rem) {
  .auth {
    .auth-box {
      width: 60rem;
      max-width: unset;
      display: flex;
      &::after {
        content: ' ';
        width: 35rem;
        height: 100%;
        background-color: var(--ap-main-color);
        background-image: url('images/logo.png');
        background-size: 25rem 25rem;
        background-position: center;
        background-repeat: no-repeat;
      }
      .form {
        width: 25rem;
      }
    }
  }
}